#template {
  position: absolute;
  margin-top: 172px;
  top: 0;
  right: 0;
  background-color: #ffffff;
  width: 75%;
  border-top: 2px solid #333;
  border-left: 2px solid #333;
  height: 700px;
}
.todo-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 14px;
  margin-top: 14px;
}



.basic-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-right: 24px;
  background-color: #DCE5EE;
}

.basic-info h3 {
  display: block;
  background-color: #333;
  color: white;
  border-radius: 2px;
  font-weight: bold;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  height: 35px;
  border-right: solid 2px #333;



}
.basic-info p {
  margin-left: 8px;
}

.fa-file-pdf {
  font-size: 40px;
  margin-bottom: 24px;
  color: #5CB85C;
}

.comm-add {
  display: grid;
  grid-template-columns: 1fr;
}

.report-header {
  display: grid;
  grid-template-columns:  minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content) 1fr;
  margin-top: 24px;
  margin-left: 14px;
}

.report-header h2 {
  margin-left: 20px;
}

#toggleHis{
  margin-left: 24px;
  display: inline-flex;
  cursor: pointer;
}
#toggleHis .fa-toggle-off {
  padding: 0;
  color: #5CB85C;
}

#toggleHis p {
  padding: 0;
  margin-top: 4px;
  margin-right: 4px;
}

#close-report {
margin-right: 14px;
}
#close-report .fas {
  padding: 0;
display: flex;
float:right;
color: #337AB7;
cursor: pointer;

}

.description{
  background-color: #DCE5EE;
    margin-right: 14px;
}

.description h3 {
  display: block;
  background-color: #333;
  color: white;
  border-radius: 2px;
  font-weight: bold;
  height: 35px;
  padding-left: 8px;
  padding-top: 6px;
}

.description p {
  margin-left: 8px;
  padding-top: 16px;
  padding-bottom: 16px;

}

#checklist{
  display: grid;
  grid-template-rows:  minmax(min-content, max-content)  minmax(min-content, max-content);
}

.checklist {
  margin-top: 24px;
  background-color: #DCE5EE;
  width: 97%;
}

.checklist h3 {
  display: block;
  background-color: #333;
  color: white;
  border-radius: 2px;
  font-weight: bold;
  height: 35px;
  padding-left: 8px;
  width: 100%;
  padding-top: 6px;
}

progress  {
  width: 100%;
  height: 24px;
}

.task-div {
padding-top: 14px;
padding-bottom: 14px;
padding-left: 8px;
padding-right: 8px;
}

.task-div:nth-child(even) {
  background: #FFF;
}

.btn-g {
 display: flex;
 float: right;
 margin-right: 26px;
 margin-top: 24px;
 padding-left: 24px;
 padding-right: 24px;
 padding-top: 6px;
 padding-bottom: 6px;
 border: none;
 background-color: #5CB85C;
 color: #fff;
 border-radius: 2px;
 font-weight: bold;
 cursor: pointer;
}

.com-add {
    margin-right: 14px;
}

.comment {
  display: block;
  background-color: #333;
  color: white;
  border-radius: 2px;
  font-weight: bold;
  height: 35px;
  padding-left: 8px;
  margin-top: 24px;
  margin-right: 14px;
  padding-top: 6px;

}
.comment textarea {
  margin-top: 12px;
  margin-left: 0;
  background-color: #DCE5EE;
  border: none;
  width:  100%;
}

.files {
  background-color: #DCE5EE;
  margin-top: 148px;
  height: 124px;
  margin-right: 14px;
}

.files h3{

  display: block;
  background-color: #333;
  color: white;
  border-radius: 2px;
  font-weight: bold;
  height: 35px;
  padding-left: 8px;
  padding-top: 6px;


}

.fa-upload {
  display: flex;
  font-size: 50px;
  justify-content: center;
  margin-top: 12px;
  color: #5CB85C;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.his-wrapper {
  display: none;
  margin-left: 14px;
  margin-top: 24px;
  margin-right: 14px;
}

.his-table {
  width: 100%;

}

#his-table th {
  color: white;
}
