*{
  margin:0;
  padding: 0;
}

body {
  font-family: Helvetica;
  color:#333;
}

.black-bg {
  background-color: #333;
  font-weight: bold;
}

.header {
width: 100%;
height: 70px;
}

.logo{
  height: 38px;

}

.navigation-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navigation-list li{
  float: left;
  margin-top: 8px;
}

.navigation-list li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  padding-top: 11px;


}

.navigation-list li a p {
margin-right: 20px;
}

li a:hover {
  background-color: #444;

}

.fas {
  font-size: 30px;
  padding: 5px;
}
.navigation-list p  {
  padding: 12px;
}






/*text spans*/

/*colors*/

/* trendy green, trendlog grøn*/
.text-tg  {
  color: #5CB85C;
}




/* NOTE: ICONS */

td  i .fa-wrench{
color: #5CB85C;
margin-left: 20%;
}

td i .fa-toggle-off{
color: #5CB85C;
margin-left: 5%;
}

.settings .fa-toggle-off{
color: #5CB85C;
margin-left: 5%;
margin-top: 10px;
}

.settings .fa-wrench{
color: #5CB85C;
margin-left: 20%;
}

.settings .fa-calendar-alt {
color: #5CB85C;
margin-left: 5%;
margin-top: 5px;
}

.table-wrapper td .fa-wrench{
color: #5CB85C;
margin-left: 20%;
}

.search-wrapper .fa-search {
  font-size: 24px;
  color: #337AB7;
}

.luk-mig .fa-times {
  color:  #337AB7;
  font-size: 30px;
}
/*font*/

.archi {
font-family: 'Archivo Black', sans-serif;
}



/*tet alignemnt*/

.t-a-center {
  text-align: center;
}

.t.a.left {
  text-align: left;
}



/*Margins*/
.mt-1 {
  margin-top: 1px;
}

.mt-2 {
  margin-top: 2px;
}
.mt-3 {
  margin-top: 3px;
}

.mt-4{
  margin-top: 4px;
}

.mt-6 {
  margin-top: 6px;
}
.mt-7 {
  margin-top: 7px;
}
.mt-8 {
  margin-top: 8px;
}




/*Icons*/

.icons-g{
  width:100%;
  border:1px
  solid #cccccc;"
}



/* NOTE: rapport div */


/* Colors */

.colour1 {
  background-color: #333;
  height: 50px;

}

.colour2 {
  background: #DCE5EE;
  height: 50px;
}

.colour3 {
  background: #fff;
  height: 50px;
}

.colour4 {
  background: #337AB7;
  height: 50px;
}

.colour5 {
  background: #F0AD4E;
  height: 50px;
}

.colour6 {
  background: #5CB85C;
  height: 50px;
}

.colour7 {
  background: #D9534F;
  height: 50px;
}

.colour8 {
  background: #9ba2bb;
  height: 50px;
}

.colour9 {
  background: #90EE90;
  height: 50px;
}
