#template {

}
.todo-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.basic-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.comm-add {
  display: grid;
  grid-template-columns: 1fr;
}

.report-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.checklist {
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.his-wrapper {
  display: none;
}
