*{
  margin: 0;
  padding: 0;
}
th{
    cursor: pointer;
    color:#fff;
    background-color: #333;

        }

.header-class {
  display: grid;
  align-items: center;
  height: 70px;
  font-size: 40px;
  background-color: #333;
  color:green;
}

.header-for-overview {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 100px;
}

.desktopwrapper{
  display: grid;
  grid-template-columns: 1fr;
}

.settings {
  display: grid;
  grid-template-columns: 200px 1fr 1fr 1fr 1fr;
  align-items: center;
}

.view-all{
  display: grid;
  grid-template-columns: minmax(min-content, max-content) 1fr;
  align-items: center;
}

.cal-view {
  display: grid;
  grid-template-columns: minmax(min-content, max-content) 1fr;
  align-items: center;
}

.entries-wrapper {
  display: grid;
  grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content);
  align-items: center;
}

.resource-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.table-wrapper {
  display: flex;
}

th, tr, td {
  text-align: left;
  height: 40px;
  padding-left: 5px;
}

.titleO {
  display: flex;
  align-items: center;
}

select{
  height: 20px;
  width: 20px;
}

table{
  width: 100%;
}

th {
  border: 0;
}

.hide {
  display: none;
}

.img-machine {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  display: flex;
  align-items: center;
}


/* CSS for mobile*/

.machinelist {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 20px;
  margin-right: 20px;
}

.id037 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row: 1/2;
}

.mobile-title {
  grid-column: 1/5;
  grid-row: 1/2;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 20px;
}

.fa-tasks {
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 50px;

}

.fa-tasks:hover {
  cursor: pointer;
}

.dates {

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25px;
  align-items: center;
}

.icon-mobile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 35px;
  align-items: center;
}

.id001 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row: 2/3;
  grid-column: 1/5;
}

.mobile-title2 {
  grid-column: 1/5;
  grid-row: 1/2;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.id055 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row: 3/4;
  grid-column: 1/5;
}
